:root {
  --color-dark: #111;
  --color-dark-alternate: #151b22;
  --color-light: #FFFFFF;
  --color-dark-gray: #404040;
  --color-light-gray: #C4C4C4;
  --color-highlight: #CAFF00;
  
  --color-border: #293544;
  --color-border-light: #557A9F;
  --color-border-dark: #14171c;

  --color-button: #293544;
  --color-button-border: #14171c;
  --color-button-hover: #557A9F;


  --border-radius: 10px;
  --border: 2px solid var(--color-border);

  --font-family-base: 'Heebo', sans-serif;
  --font-family-accent: 'Yantramanav', sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 90px;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
}

body.lock {
  overflow: hidden;

  @media screen and (min-width: 768px) {
    overflow: auto;
  }
}

svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

svg * {
  transition-property: fill, stroke;
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-gray);
}

p {
  margin-block: 0;
  color: #fff;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
}

.section-description {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: '';
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  width: 26px;
  aspect-ratio: 1;
  background: url('../images/dest/icons/plus.svg') center/contain no-repeat;
  display: none;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.3em;
  left: -0.6em;
  font-family: var(--font-family-accent);
  font-size: 2.8em;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-light-gray);
  text-stroke: 1px var(--color-light-gray);
  display: none;
}

.backdrop-title.centered::after {
  top: -0.25em;
  left: 50%;
  translate: -50% 0;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--color-button);
  border: var(--border);
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-highlight);
  border-color: var(--color-highlight);
  cursor: pointer;
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  color: var(--color-light);
  background-color: var(--color-border);
  border: var(--border);
  border-color: var(--color-border-dark);

  &:hover {
    border-color: var(--color-highlight);
  }
}

.button.transparent::after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url('../images/dest/icons/arrow-top-right.svg') center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
  display: none;
}

.input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 25px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
}

.input::placeholder,
select.input:invalid {
  color: var(--color-light-gray);
}

.input:hover {
  border-color: var(--color-border-light);
}

.input:focus {
  outline: none;
  border-color: var(--color-border-light);

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}