.family {
  background-color: var(--color-dark-alternate);
}

.family-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  padding-top: 132px;
  padding-bottom: 62px;
  text-align: center;
}

.family-body {
  display: flex;
  justify-content: center;
  column-gap: 26px;
 /* scroll-snap-type: x mandatory;
  overflow-x: scroll;*/
  height: 400px;
}

.family-image {
  height: 100%;
  object-fit: cover;
  /*scroll-snap-align: start;*/
}

/* slick-slider */

.family {

  .slick-track {
    height: 100%;
  }

  .slick-arrow {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 1;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev:after,
  .slick-next:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    border-left: 3px solid rgba(255,255,255,.7);
    border-top: 3px solid rgba(255,255,255,.7);

    &:hover {
      border-left: 3px solid rgba(255,255,255,1);
      border-top: 3px solid rgba(255,255,255,1);
    }
  }

  .slick-prev:after {
    left: 30%;
    transform: rotate(-45deg);

    @media screen and (max-width: 768px) {
      left: 40%;
    }
  }

  .slick-next:after {
    right: 30%;
    transform: rotate(135deg);

    @media screen and (max-width: 768px) {
      right: 40%;
    }
  }

  .slick-slide {
    padding: 0 5px;
    cursor: pointer;

    @media screen and (max-width: 576px) {
      padding: 0 15px;
    }
  }
} // family